5	www.google.com	search_engine
3	www.reddit.com	news,forum
1	www.yahoo.com	search_engine
6	www.wired.com	news,technology
1	www.washingtonpost.com/blogs/the-switch/wp/2014/08/15/sen-wyden-your-datas-yours-no-matter-on-whose-server-it-lives/?tid=rssfeed	Sen Wyden,politics,privacy,technology
1	bgr.com/2014/08/14/why-is-comcast-so-bad-12/		news,politics,technology,comcast
1	robert.ocallahan.org/2014/08/choose-firefox-now-or-later-you-wont.html?showComment=1408137721125	technology,politics,firefox,chrome,google
1	www.eff.org/deeplinks/2014/08/cell-phone-guide-protesters-updated-2014-edition	politics,technology,protest,cell phone
